name: Deploy master - to=fe-clients-quironix

on:
  push:
    branches:
      - develop
  workflow_dispatch:

env:
  ENV_PATH: .env.production

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: "20.x"

      - name: create env file
        env:
          NEXTAUTH_SECRET: ${{ vars.NEXTAUTH_SECRET }}
          NEXTAUTH_URL: ${{ vars.NEXTAUTH_URL }}
          NEXT_PUBLIC_API_URL: ${{ vars.NEXT_PUBLIC_API_URL }}
          AUTH_TRUST_HOST: true
          NEXT_PUBLIC_FINTOC_PUBLIC_KEY: ${{ vars.NEXT_PUBLIC_FINTOC_PUBLIC_KEY }}
          NEXT_PUBLIC_URL_FILE_DTE: ${{ vars.NEXT_PUBLIC_URL_FILE_DTE }}
          NEXT_PUBLIC_URL_FILE_DEBTORS: ${{ vars.NEXT_PUBLIC_URL_FILE_DEBTORS }}
          NEXT_PUBLIC_URL_FILE_PAYMENT: ${{ vars.NEXT_PUBLIC_URL_FILE_PAYMENT }}
          NEXT_PUBLIC_URL_FILE_MOVEMENTS: ${{ vars.NEXT_PUBLIC_URL_FILE_MOVEMENTS }}
        run: |
          touch $ENV_PATH
          echo NEXTAUTH_SECRET=$NEXTAUTH_SECRET >> $ENV_PATH
          echo NEXTAUTH_URL=$NEXTAUTH_URL >> $ENV_PATH
          echo NEXT_PUBLIC_API_URL=$NEXT_PUBLIC_API_URL >> $ENV_PATH
          echo AUTH_TRUST_HOST=$AUTH_TRUST_HOST >> $ENV_PATH
          echo NEXT_PUBLIC_FINTOC_PUBLIC_KEY=$NEXT_PUBLIC_FINTOC_PUBLIC_KEY >> $ENV_PATH
          echo NEXT_PUBLIC_URL_FILE_DTE=$NEXT_PUBLIC_URL_FILE_DTE >> $ENV_PATH
          echo NEXT_PUBLIC_URL_FILE_DEBTORS=$NEXT_PUBLIC_URL_FILE_DEBTORS >> $ENV_PATH
          echo NEXT_PUBLIC_URL_FILE_PAYMENT=$NEXT_PUBLIC_URL_FILE_PAYMENT >> $ENV_PATH
          echo NEXT_PUBLIC_URL_FILE_MOVEMENTS=$NEXT_PUBLIC_URL_FILE_MOVEMENTS >> $ENV_PATH
          echo NODE_ENV=production >> $ENV_PATH
          cat $ENV_PATH

      - name: npm install, build, and test
        run: |
          npm install --force
          npm run build
          mv ./build/static ./build/standalone/build
          mv ./public ./build/standalone
          mv $ENV_PATH ./build/standalone

      - name: "Deploy to Azure Web App"
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: "fe-clients-quironix"
          slot-name: "Production"
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_417E823041874C66A94C879CFCFA9A38 }}
