# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Main - Build and deploy Node.js app to Azure Web App - fe-clients-quironiix

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  ENV_PATH: .env.production

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: "22.x"

      - name: create env file
        env:
          NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
          NEXTAUTH_URL: ${{ secrets.NEXTAUTH_URL }}
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
          NEXT_PUBLIC_FINTOC_PUBLIC_KEY: ${{ secrets.NEXT_PUBLIC_FINTOC_PUBLIC_KEY }}
          AUTH_TRUST_HOST: true

        run: |
          touch $ENV_PATH
          echo NEXTAUTH_SECRET=$NEXTAUTH_SECRET >> $ENV_PATH
          echo NEXTAUTH_URL=$NEXTAUTH_URL >> $ENV_PATH
          echo NEXT_PUBLIC_API_URL=$NEXT_PUBLIC_API_URL >> $ENV_PATH
          echo AUTH_TRUST_HOST=$AUTH_TRUST_HOST >> $ENV_PATH
          echo NEXT_PUBLIC_FINTOC_PUBLIC_KEY=$NEXT_PUBLIC_FINTOC_PUBLIC_KEY >> $ENV_PATH

          echo NODE_ENV=production >> $ENV_PATH
          cat $ENV_PATH

      - name: npm install, build, and test
        run: |
          npm install --force
          npm run build
          mv ./build/static ./build/standalone/build
          mv ./public ./build/standalone
          mv $ENV_PATH ./build/standalone

      - name: "Deploy to Azure Web App"
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: "fe-clients-quironiix"
          slot-name: "Production"
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_D1D9523C4F40407FB9D64C7B619462A8 }}
